@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    position: relative;
    left: -55px;
    margin-top: 20px;
    margin-bottom: 80px;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

#main_interacao {
    display: flex;
    flex-direction: column;
}

#itexto {
   border: none;
   outline: none;
   font-size: 2rem;
}

#itexto::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    color: #0A3871;
}

#main-imagem {
    vertical-align: middle;
}

.main_texto {
    margin: 10px;
}

.exclamacao {
    width: 16px;
    height: 16px;
    background-color: rgb(26, 26, 26);
    color: #fff;
    border-radius: 50%;
    text-align: center;
}

#botoes {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: 158px;
    justify-content: center;
    margin-bottom: 100px;
    
}

#botao-1 {
    background-color: rgba(10, 56, 113, 1);
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    border: 1px solid rgba(10, 56, 113, 1);
    color: #fff;
}

#botao-2 {
    background-color: #fff;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    border: 1px solid rgba(10, 56, 113, 1);
    color: rgba(10, 56, 113, 1);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    width: 90%;
    height: 186px;
    border-radius: 26px;
    box-shadow: 3px 9px 16px rgba(0, 0, 0, 0.347);
    gap: 32px;
}

#section_imagem {
    display: none;
}



@media (min-width: 776px) {
    
    #botoes {
        flex-direction: row;
    
    }

    #botao-1 {
        width: 50%;
    }

    #botao-2 {
        width: 50%;
    }

    #section_imagem {
        display: none;
    }
}

@media (min-width: 1200px) {
    body {
        flex-direction: row;
        margin: 0px 50px;
        height: 100%;
        gap: 50px;
        
    }

    header {
        position: relative;
        left: -80px;
    }

    main {
        flex-direction: column;
        margin: 0px;
        width: 70%;
    }

    #itexto {
        padding-bottom: 80px;
    }

    #botoes {
        height: 70px;
        margin-bottom: 0px;
    }

    section {
        margin: 10px 0px;
        height: 680px;
        width: 30%;
        padding: 10px;
        justify-content: center;
    }

    #section_imagem {
        display: block;
    }
}